#Titulo {
    background: #60a7ee;
    max-height: 100px;
    }
#foto {
    min-height: 250px;
    }
#perfil {
    min-height: 250px;
    }
#avalgeral{
    border: 3px solid rgb(62, 228, 40);
    min-height: 250px;
}
#avalpessoal{
    min-height:400px; 
}
#descricao{
    border: 3px solid rgb(228, 40, 156);
    min-height: 400px;
}
#dados{
    border: 3px solid rgb(194, 138, 34);
    min-height: 400px;
}
.star{
    height: 20px;
}
.cabecalho{

    background-color: #60a7ee;
}
@media screen and (max-widght: 576px) {
    #foto{
        height: 120px;
    }
    #perfil{
        height: 120px;
    } 
    #avalgeral{
        height: 120px;
    }
}
.rating {
    width: 100%;
    height: 3vh;
    margin: 5% 0;
    display: flex;   
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.cross {
    padding: 10px;
    color: #d6312d;
    cursor: pointer;
    font-size: 23px
}

.cross i {
    margin-top: -5px;
    cursor: pointer
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ff0000
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202
}


   