.titulo {
    background: #60a7ee;
    max-height: 100px;
}

h2 {
    text-align: center;
}

.foto { 
    text-align: center;
    align-items: center;
}

.logo {
    border-radius: 50%;
    transition: border-radius 500ms ease-in-out ;
}

.logo:hover {
    
    border-radius: 20%;
}

.perfil {
    min-height: 250px;
}

.avalgeral{
    border: 3px solid rgb(62, 228, 40);
    min-height: 250px;
    text-align: center;
}

#avalpessoal{
    min-height:400px; 
}

.rating-evaluations{
    border: 3px solid rgb(228, 40, 156);
    min-height: 400px;
}

#dados{
    border: 3px solid rgb(194, 138, 34);
    min-height: 400px;
}

.cabecalho{

    background-color: #60a7ee;
}

.rating {
    width: 100%;
    height: 3vh;
    margin: 5% 0;
    display: flex;   
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 2em;
}

.rating >input {
    display: none
}

.rating > label {
    position: relative;
    color: #fed330;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid rgba(235, 59, 90,.5)
}

.botao {
    height: 5vh;
    width: 65%;
    background-color:#2ecc71;
    border-radius: 1em;
    /* transition: background-color 100ms ease-in-out;  */
}

.botao:hover {
    background-color: #27ae60;
}
.botao:active{
    box-shadow: inset 0 0 .5em #185f36, 0 0 .5em #185f36;
}

.form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 .35em red !important;
}

@media (max-widght: 700px) {
    #foto{
        height: 120px;
    }
    #perfil{
        height: 120px;
    } 
    #avalgeral{
        height: 120px;
    }
}
   