<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Integrador</title>
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-12 col-xs-12 titulo" >
            <div class="cabecalho row">
                <h1>
                    <center>Moto Frete Marcelo</center>
                </h1>
        </div>       
    </div>

    <div class="row justify-content-between"></div>    
        <div class="col-sm-3 col-xs-12 foto">
            <br/>
                <img src="../static/imagens/MBAJ9519.JPG" width="120px" class="logo" aria-hidden="true">
            <br/>
            <h2>Marcelo</h2>
        </div> 

        <div class="col-sm-6 col-xs-12 perfil">
        <br/>
        <h2>Titulo do perfil</h2>
        
        </div>

        <div class="col-sm-3 col-xs-12 avalgeral">
            <p>Avaliação geral</p>
        </div>          
    </div>

    <div class="row justify-content-between">
        <div id=avalpessoal class="col-sm-3 col-xs-12">
            <div class="card-body text-center"> <img src="../static/imagens/evaluetion.png" height="80" width="80">
                <div class="comment-box text-center">
                    <h5>Deixe sua Avaliação:</h5>
                    <div class="rating col-xs-sm-12"> 
                        <label for="5">☆</label> <input type="radio" name="rating" value="5" id="5">
                        <label for="4">☆</label> <input type="radio" name="rating" value="4" id="4">
                        <label for="3">☆</label> <input type="radio" name="rating" value="3" id="3">
                        <label for="2">☆</label> <input type="radio" name="rating" value="2" id="2">
                        <label for="1">☆</label> <input type="radio" name="rating" value="1" id="1">
                    </div>

                    <br>

                    <div class="comment-area"> 
                        <textarea class="form-control" placeholder="Escreva aqui seu comentário..." rows="4"></textarea> 
                    </div>

                    <div class="text-center mt-4"> 
                        <button class="botao"> Enviar </button> 
                    </div>
                </div>
            </div>
        </div>
                
    
        <div id=descricao class="col-sm-6 col-xs-12">
            
        </div>
        <div id=dados class="col-sm-3 col-xs-12">

        </div>          
    </div>
</div>
   
</body>
</html>